<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.9.2" targetFramework="net48" />
  <package id="DevExpress.Data" version="22.2.12" targetFramework="net48" />
  <package id="DevExpress.Data.Desktop" version="22.2.12" targetFramework="net48" />
  <package id="DevExpress.Drawing" version="22.2.12" targetFramework="net48" />
  <package id="DevExpress.ExpressApp" version="22.2.12" targetFramework="net48" />
  <package id="DevExpress.Images" version="22.2.12" targetFramework="net48" />
  <package id="DevExpress.Pdf.Core" version="22.2.12" targetFramework="net48" />
  <package id="DevExpress.Pdf.Drawing" version="22.2.12" targetFramework="net48" />
  <package id="DevExpress.Printing.Core" version="22.2.12" targetFramework="net48" />
  <package id="DevExpress.Utils" version="22.2.12" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.2592.51" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
</packages>